services:
  - type: web
    name: backend
    env: docker
    region: oregon
    plan: starter
    branch: main
    numInstances: 1
    dockerfilePath: ./apps/api/Dockerfile
    dockerContext: .
    pullRequestPreviewsEnabled: false
    autoDeploy: true
    healthCheckPath: /.well-known/apollo/server-health
    envVars:
      - key: JWT_ACCESS_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: PORT
        value: 4000
      - key: DATABASE_URL
        fromDatabase:
          name: db
          property: connectionString
  - type: web
    name: frontend
    env: docker
    region: oregon
    plan: starter
    branch: main
    numInstances: 1
    dockerfilePath: ./apps/web/Dockerfile
    dockerContext: .
    pullRequestPreviewsEnabled: false
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: NEXT_PUBLIC_API_HOSTPORT
        fromService:
          name: backend
          type: web
          property: hostport
      - key: APP_ENV
        value: production
      - key: ACCESS_TOKEN
        value: poptaro.access.token
      - key: REFRESH_TOKEN
        value: poptaro.refresh.token
      - key: NODE_ENV
        value: production
databases:
  - name: db
    plan: free
    region: oregon
    postgresMajorVersion: 14
